.carousel-custom .carousel-item-custom{
    height: fit-content !important;
    /* margin: 5rem !important; */


}
@media screen and (max-width: 1100px) {

.carousel-custom .carousel-item-custom{
    margin: 0 !important;
}
.bcimg{
    margin: 1rem;
}
}