.carousel .carousel-item {
    height: 40rem;
    margin-top: 12rem;
  }
  .carousel-inner-custom{
    background-color: var(--blue);
    color: white;
    font-size: 9rem;
    text-align: center;
  }
  .carcss {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 30vmax;
  }

  /* .carouselDiv{
    padding: 1rem;
  } */
  @media screen and (max-width:1100px) {
    .carousel .carousel-item {
      height: 50rem;
    }
    
    .carcss {
        
        min-height: 50rem;
    }
  
  }