.topproducts {
  /* margin: 2rem 0;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: var(--yellow); */
  padding: 4rem 20.2rem;
  align-items: center;
}
/* .topprodlist {
  display: flex;
  justify-content: center;
} */
.topprodhead > h1 {
  font-family: "Lato", sans-serif;
}
.topprodhead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.viewmore {
  margin: 1rem;
}

.aboutus {
  padding: 4rem 20.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--blue3);
  color: white;
}
.vmbtn {
  background-color: var(--yellow);
}
.homepara {
  font: 1.5rem "Poppins";
  margin: 1rem;
}
.btncss {
  font-family: "Poppins" !important;
  border-radius: 5rem !important;
}
.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #edf9f8; */

  padding: 4rem 1rem;
  align-items: center;
}
.elitebrands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem 4rem;
  align-items: center;
  /* border-top: 1px solid rgb(93, 93, 93); */
  /* clip-path: polygon(53% 0, 0 0, 0 21%); */
  /* background-image: linear-gradient(var(--yellow), white, white, white); */
  /* background-color: var(--yellow); */
}
.vision{
  padding: 6rem 2rem;
  background-color: #EBBE2D;
}
.visionmission{
  display: flex;
  padding: 1rem;
  /* margin: 2rem; */
justify-content: space-between;
align-items: center;
}
.visionmission img{
  height: 25rem;
  width: 25rem;
}
.visionmission div{
  margin: 0 2rem;
}
.visionmission p{
  font-size: 1.5rem;
}
.vision h1{
  text-align: center ;
  color: var(--blue3);
  font-size: 4rem;
}
.brands{
  display: flex;
  
}
.brands>img{
  height: 20rem;
}
@media screen and (max-width: 1100px) {
  
  .homepara {
    font-size: 1rem;
  }
  .aboutus, .topproducts {
    padding: 2rem;
  }
 
  .elitebrands {
    padding: 4rem;
  background-image: linear-gradient(to bottom right, var(--yellow), white, white, white, white, var(--yellow) );

  }
  /* .vision{
  margin-top: 4rem;
    
  } */
  .visionmission img{
    height: 15rem;
    width: 15rem;
  }
.visionmission{
  flex-direction: column;
}
.visionmission div{
  margin:  0;
}
.visionmission p{
  font-size: 1.2rem;
} 
.vision h1{
  font-size: 2rem;
}
.brands{
  flex-direction: column;
  
}
.brands>img{
  height: 10rem;
}
}
