.productList{
    display: flex;
    align-items: center;
    justify-content: center;

    /* margin: 1.6rem; */
    flex-wrap: wrap;
}
.products{
    display: flex;
    /* overflow-y: hidden; */
    /* padding: 2rem; */

}
.productDiv{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    height: 100vh;

    overflow-y: auto;
    flex-direction: column;
    width: 100%;
    
}
.productDiv::-webkit-scrollbar {
    display: none;
}
.productDiv>h3{
    margin: 2rem;
    text-align: center;
}
.categoryList::-webkit-scrollbar {
    display: none;
}
.categoryList{
    list-style: none;
    padding: 2rem;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
    /* padding-bottom: 2rem; */
    /* margin: 4rem; */
    background-color: var(--blue);
    color: white;
    /* border-top: 0.8px solid rgba(54, 54, 54, 0.35); */
    border-right: 0.8px solid rgba(54, 54, 54, 0.35);
    overflow-y: scroll;

}
.catHead{
    padding-bottom: 2rem;
    border-bottom: 0.8px solid white;
}
.categoryListItems{
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
    font: 1.2rem "Poppins";
    transition: 0.3s ease;

    /* margin: 2rem; */
}
.categoryListItems:hover{
    background-color: white;
    color: var(--blue);
}
