.contactdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}
.contactdiv div{
    /* border: 0.001px solid rgb(62, 62, 62); */
    background-color: rgba(216, 215, 215, 0.5);
    /* box-shadow: 5px 1px 13px 2px rgb(93, 93, 93); */

    /* padding: 1rem; */
    height: 700px;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    font-size: 1.5rem;
}
.contact-left{
    padding: 5.2rem;

}
.contactdiv p{
    text-align: center;
    margin: 1rem;
}
.emailbtn{
    font-size: 1.5rem;
}
i{
    color: var(--blue);
}
@media screen and (max-width: 1200px) {
.contactdiv{
flex-direction: column;

}
.contactdiv div{
height: 300px;
width: 300px;
font-size: 0.8rem;
}
.contact-left{
    padding: 0.8rem;

}
.contactdiv p{
    margin: 1rem;
}
.emailbtn{
    font-size: 0.9rem;
}
.contact-right iframe{
    width: 280px;
    height: 280px;
}
}
