.logo {
  height: 7.2rem;
  width: 12.5rem;
  margin: 0.8rem 5rem;
  /* margin: 0 13rem; */
}
.navbar-custom {
  padding: 0;
  box-shadow: 5px 1px 13px 2px rgb(93, 93, 93);
}
.navbarcss {
  display: flex;
  /* align-items: center; */
  overflow-x: hidden;
  background-color: var(--blue);

  padding: 0;
  flex-direction: column;
}

/* .searchcss {
  height: 3.2rem;
  margin: 0.6rem 0;
  width: 80%;
  display: flex;
    justify-content: space-between;
}
.inputcss {
  height: 3.2rem;
  font-size: 1.2rem;
  border: 1px solid rgb(28, 87, 206);
  border-bottom: 1px solid rgb(93, 93, 93);
  width: 80%;
} */
.navcontact {
  margin: 4rem;
  color: #0099cc;
  font: 1rem "Lato";
}
.container-fluid {
  width: auto;
}
.navbartop {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-color: var(--blue);
  width: 100vw;
  padding: 0.5rem;

  /* align-items: center; */
  /* margin:0 2rem; */
}
.nav-link {
  color: white;
  transition: ease-in-out 0.25s;
}

/* .nav-link:hover{ */
/* color: rgb(28, 87, 206); */
/* font-weight: bold; */
/* box-shadow: 2px 5px 2px rgba(28, 87, 206); */

/* } */

.navitems {
  font-size: 1.2rem;
  font-weight: 550;
  padding: 0;
}
.navitems2 {
  display: flex;
  align-items: center;
}
.nav2-custom {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 100000;
}
.navitems2 .nav-link {
  color: var(--black);
  font-size: 1.8rem;
  /* font-weight: bold; */
  margin: 0 2rem;
}
.navitems > ul > li {
  padding: 0 1.5rem;
  transition: ease-in-out 0.25s;
}
.navitems2 .nav-link:hover, .navitems2 .nav-link:focus{
  color: var(--blue);
  /* text-decoration: underline; */
}
@media screen and (max-width: 500px) {
  .logo {
    height: 3.2rem;
    width: 4.5rem;
    margin: 0;
    /* margin: 0 13rem; */
  }
  .navbar-toggler {
    /* width: 2rem !important;
    height: 2rem !important; */
    border: none;
  }
  .navbar-toggler-icon {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
  .navitems2 .nav-link {
    font-size: 0.6rem;
    margin: 0.2rem;
  }
  .navitems {
    margin: 0;
    font-size: 0.5rem;
  }

  .navbartop {
    align-items: center !important;

    padding: 0.5rem;
  }
  .navitems > ul > li {
    padding: 0;
    margin: 0 0.4rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 910px) {
  .logo {
    height: 3.2rem;
    width: 5.5rem;
    margin: 0;
    /* margin: 0 13rem; */
  }
  .navbar-toggler {
    /* width: 2rem !important;
    height: 2rem !important; */
    border: none;
  }

  .navitems,
  .navitems2 .nav-link {
    font-size: 0.8rem;
    margin: 0;
  }

  .top-ul > li {
    margin: 0 0.5rem;
  }
  .navbartop {
    align-items: center !important;

    padding: 0.5rem;
  }
  .navitems > ul > li {
    padding: 0;
  }
}
@media screen and (min-width: 911px) and (max-width: 1300px) {
  .navitems,
  .navitems2 .nav-link {
    font-size: 1.2rem;
    margin: 0.8rem;
  }
}
