:root {
  --blue: #0D72B5;
  --bluetrans: rgb(13,114,181,0.5);
  --orange: #B5530D;
  --yellow: #B5840D;
  --dark-blue: #1F2C36;
  --black: #362F1F;
  --blue2: #1F2C36;
  --blue3: #274960;
  --blue4: #0D9BB5;
  --alpha: 0.5;
  --gray: #c1c7c5;
  
}
